html {
  background: linear-gradient(#111, #585758);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 90px;
  height: 450vh;
}


.content {
  display: flex;
  grid-column: 3/span 9;
  grid-row: 2/span 7;
  flex-direction: column;
  justify-content: center; 
}

.content h1 {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.content p {
  color: #deb591;
  font-size: .85rem;
}

.content img {
  float: left;
  width: 260px;
}

.one, .two, .three, .four {
  display: flex;
  flex-direction: column;
}

.one {
  grid-column: 2/11;
  grid-row: 8/span 5;
}

.two {
  grid-column: 2/11;
  grid-row: 12/span 5;
}

.three {
  grid-column: 2/span 10;
  grid-row: 20/span 9;
}

.four {
  grid-column: 2/span 10;
  grid-row: 24/span 3;
}

.data {
  color: #deb591;
  font-size: .75rem;
}

.yapakati {
  grid-column: 2/span 5;
  grid-row: 17/span 9;
}

.yaone {
  float: left;
}

.yatwo {
  float: right;
}

.yathree {
  grid-column: 7/span 5;
  grid-row: 20/span 3;
}

.yafour {
  grid-column: 2/span 5;
  grid-row: 22/span 3;
  z-index: 2;
}

.illustration {
  width: 284px;
  padding: 10px 10px 20px 10px;
  margin-top: 1.5rem;
}

.cta {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  grid-column: 2/span 10;
  grid-row: 25/span 2;
}

.cta a {
  text-decoration: none;
  color: white;
  margin-bottom: .5rem;
  height: 30px;
  width: 120px;
  padding: .5rem;
  font-size: .75rem;
}

.cta a:nth-child(1) {
  background-color:#75461e;
}

.cta a:nth-child(2) {
  border: 1px solid #75461e;
}

.cta a:hover,
.cta a:focus {
  background-color: #75461e50;
}

.footer {
  grid-column: 1/span 12;
  grid-row: 27/30;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #58575b;
}

.footer p {
  color: white;
  font-size: 0.75rem;
}

.social-media img {
  filter: invert(88%) sepia(9%) saturate(1952%) hue-rotate(325deg) brightness(92%) contrast(88%);
}

/*Phablet version*/
@media (min-width:525px){
  
}

/*Tablet version*/
@media (min-width:620px){
  .content h1 {
    color: white;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  
  .content p {
    color: #deb591;
    font-size: 1rem;
  }

  .content img {
    float: right;
    width: 300px;
  }

  .one {
    grid-column: 2/11;
    grid-row: 10/span 5;
  }

  .two {
    grid-column: 2/11;
    grid-row: 13/span 5;
  }

  .data {
    color: #deb591;
    font-size: 1rem;
  }

  .illustration {
    width: 284px;
    padding: 10px 10px 20px 10px;
    margin-top: 1.5rem;
  }

  .yapakati {
    grid-column: 4/span 10;
  }

  .yaone {
    float: right;
  }

  .yatwo {
    float: none;
    width: 200px;
  }
}

/*Small desktop version*/
@media (min-width:670px){
 
}

/*Desktop version of the site*/
@media (min-width:1080px){
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 90px;
    height: 330vh;
  }
  
  .content {
    display: flex;
    grid-column: 2/11;
    grid-row: 2/span 5;
    flex-direction: column;
    justify-content: center;
  }
  
  .content h1 {
    color: white;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  
  .content p {
    color: #deb591;
    font-size: 1rem;
  }
  
  .content img {
    float: right;
    width: 300px;
  }

  .one, .two, .three, .four {
    display: flex;
    flex-direction: column;
  }

  .one {
    grid-column: 2/11;
    grid-row: 7/span 5;
  }

  .two {
    grid-column: 2/11;
    grid-row: 10/span 5;
  }

  .three {
    grid-column: 2/span 10;
    grid-row: 13/span 9;
  }

  .four {
    grid-column: 2/span 10;
    grid-row: 16/span 3;
  }

  .data {
    color: #deb591;
    font-size: 1rem;
  }

  .yapakati {
    grid-column: 4/span 5;
    grid-row: 11/span 9;
  }

  .yaone {
    float: left;
  }

  .yatwo {
    float: right;
    /*filter: invert(12%) sepia(91%) saturate(195%) hue-rotate(180deg) brightness(92%) contrast(88%);*/
  }

  .yathree {
    grid-column: 7/span 5;
    grid-row: 13/span 3;
  }

  .yafour {
    grid-column: 2/span 5;
    grid-row: 14/span 3;
    z-index: 2;
  }

  .illustration {
    width: 284px;
    padding: 10px 10px 20px 10px;
    margin-top: 1.5rem;
  }

  .cta {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    grid-column: 2/span 10;
    grid-row: 18/span 2;
  }
  
  .cta a {
    text-decoration: none;
    color: white;
    margin-right: 2.5rem;
    height: 50px;
    width: 150px;
    padding: 1rem;
    font-size: 1rem;
  }

  .footer {
    grid-column: 1/span 12;
    grid-row: 20/25;
    background-color: #58575b;
  }
  /*.social-media img {
    zdebfilter: invert(88%) sepia(9%) saturate(1952%) hue-rotate(325deg) brightness(92%) contrast(88%);
    zwhitefilter: invert(100%) sepia(42%) saturate(0%) hue-rotate(119deg) brightness(115%) contrast(100%);
  }*/
}