html {
    background: linear-gradient(#222e57, #6f7899);
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 90px;
    height: 300vh;
  }
  
  
  .content {
    display: flex;
    grid-column: 3/11;
    grid-row: 2/span 2;
    flex-direction: column;
    justify-content: center; 
  }
  
  .content h1 {
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .content p {
    color: #deb591;
    font-size: .75rem;
  }
  
  .contact {
    color: #deb591;
    font-weight: 400;
    grid-column: 3/span 8;
    grid-row: 4/span 13;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .contact a {
    text-decoration: none;
    color: #deb591; 
    height: 30px;
    width: 150px;
    padding-bottom: 1.5rem;
    font-size: 1rem;
  }
  
  
  .form {
    background-color:#202027f0;
    margin: 2rem 0;
    max-width: inherit;
    border-radius: 20px;
    padding: 2rem 4rem;
  }
  
  .input-group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .input-group:last-child {
    margin-bottom: 0;
  }
  
  .input-group label {
    font-weight: bold;
    margin-bottom: .6rem;
  }
  
  .input-group input {
    outline: none;
    background: none;
    border: 1px solid #2e3852;
    font-size: 1em;
    padding: .5em;
    color: inherit;
    border-radius: 5px;
  }
  
  .input-group input:focus {
    border-color: #596da0;
  }
  
  .details {
    color: #deb591;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .cta {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    grid-column: 2/span 10;
    grid-row: 15/span 2;
  }
  
  .btn {
    background-color:#75461e;
    color: white;
    border: none;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .cta a {
    text-decoration: none;
    color: white;
    margin-bottom: .5rem;
    height: 30px;
    width: 120px;
    padding: .5rem;
    font-size: .75rem;
    border: 1px solid #75461e;
  }
  
  .cta a:hover {
    background-color: #75461e50;
  }
  
  .footer {
    grid-column: 1/span 12;
    grid-row: 18/23;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .footer p {
    color: white;
    font-size: 0.75rem;
  }
  
  .social-media img {
    filter: invert(100%) sepia(42%) saturate(0%) hue-rotate(119deg) brightness(115%) contrast(100%)
  }
  
  
  /*Tablet version*/
  @media (min-width:750px){}
  
  /*Desktop version of the site*/
  @media (min-width:800px){
    .grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: 90px;
      height: 250vh;
    }
    
    .content {
      display: flex;
      grid-column: 2/11;
      grid-row: 2/span 2;
      flex-direction: column;
      justify-content: center;
    }
    
    .content h1 {
      color: white;
      font-weight: 400;
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
    
    .content p {
      color: #deb591;
      font-size: 1rem;
    }
    
    .contact {
      grid-column: 2/span 10;
      grid-row: 4/span 12;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;     
    }
    
    .form {
      max-width: 50%;
      margin: 2rem 0;
      width: 50vw;
    }
  
    .cta {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      grid-column: 2/span 10;
      grid-row: 10/span 2;
    }
    
    .cta a {
      text-decoration: none;
      color: white;
      margin-right: 2.5rem;
      height: 50px;
      width: 150px;
      padding: 1rem;
      font-size: 1rem;
    }
  
    .footer {
      grid-column: 1/span 12;
      grid-row: 16/20;
    }
  }